.env
.htpasswd
.volumes
docker-compose.yml

grafana/*
!grafana/.gitkeep

loki/*
!loki/.gitkeep

node_exporter/*
!node_exporter/.gitkeep

prometheus/*
!prometheus/.gitkeep

promtail/*
!promtail/.gitkeep

!templates/**/docker-compose.yml